@{
    ViewData["Title"] = "Politicas de privacidad";
}

<div class="container my-4">

    <h1 class="text-center">@ViewData["Title"]</h1>

    <hr />

    <div class="text-justify p-3 p-md-5">

        <p>Publicado el: 12/10/2021</p>

        <h2>Lorem Ipsum</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit venenatis facilisis, ultrices ad diam torquent scelerisque a lacinia suspendisse nec, auctor hendrerit posuere magna hac laoreet orci parturient. Tempor sociis euismod quisque montes iaculis vitae nisi eu arcu sagittis velit cursus, vivamus est tincidunt tortor in volutpat augue eget magnis primis.</p>

        <h2>Lorem Ipsum</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit venenatis facilisis, ultrices ad diam torquent scelerisque a lacinia suspendisse nec, auctor hendrerit posuere magna hac laoreet orci parturient. Tempor sociis euismod quisque montes iaculis vitae nisi eu arcu sagittis velit cursus, vivamus est tincidunt tortor in volutpat augue eget magnis primis.</p>

    </div>

</div>
