@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="mt-4 text-center text-white">Hola, <b>@User.Identity.Name</b></h1>
        <p class="text-center">Configura las diferentes <b>opciones</b> de tu cuenta</p>
    </div>
</div>

<div>
    <div class="row justify-content-center">
        <div class="col-md-9 text-center">
            <partial name="_ManageNav" />
            <br />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
