@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="row justify-content-center">
    <div class="col-md-5">
        <h4 class="text-center">@ViewData["Title"]</h4>
        <p>Tu cuenta tiene datos personales que nos has brindado. Esta pagina te permite descargarlos o borrarlos.</p>
        <p class="text-center">
            <strong>Borrar los datos es permanente y no se puede revertir.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-block btn-outline-success" type="submit">Descargar</button>
        </form>
        <div class="row">
            <div class="col"><hr></div>
            <div class="col-auto">O</div>
            <div class="col"><hr></div>
        </div>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-block btn-outline-danger">Borrar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}