@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item text-center">
            <div class="dropdown show">
                <a class="btn btn-link text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user d-none d-sm-block"></i> Mi cuenta</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="btn btn-block" asp-area="Identity" asp-page="/Account/Manage/Index">Ajustes</a>
                    <form class="form-inline justify-content-center" id="boton-salir" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" }) ">
                        <button type="submit" class="btn btn-block">Salir</button>
                    </form>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item text-center">
            <a class="nav-link text-dark p-0" asp-area="Identity" asp-page="/Account/Login">Acceder</a>
        </li>
    }
</ul>
