@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<div class="container justify-content-center align-items-center">
    <div class="row no-gutters my-5">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto p-3 contenedor-custom">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <br />
                <h1 class="text-center">@ViewData["Title"]</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control shadow-none" placeholder="alguien@correo.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control shadow-none" placeholder="Contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control shadow-none" placeholder="Contraseña" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-block btn-outline-primary">Registrarse</button>
                <br />
                <div class="form-group" style="text-align:center;">
                    <p>
                        <span class="text-left">¿Ya tienes una cuenta?</span>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Acceder</a>
                    </p>
                    <p>
                        <a style="color: #dd4b39;" href="https://accounts.google.com/signup/v2/webcreateaccount?flowName=GlifWebSignIn&flowEntry=SignUp" role="button">
                            <i class="fab fa-google fa-lg" title="Registrarse en Gmail"></i>
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
