@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar registro";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="container my-4">
            <div class="img-thumbnail">
                <div class="text-center">
                    <img class="figure-img" src="~/images/confirmar-email.jpg" alt="register-icon" height="250" />
                </div>
            </div>
            <br />
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div class="text-justify p-2 p-md-5">
                <p>
                    ¡Ya casí acabamos, revisa tu bandeja de <b>entrada de Gmail</b> para confirmar tu registro!.
                </p>
            </div>
        </div>
    }
    else
    {
        <div class="container my-4">
            <h1 class="display-1 text-center">@ViewData["Title"]</h1>
            <div class="text-justify p-3 p-md-5">
                <p>
                    Revisa tu correo para confirmar el registro.
                </p>
            </div>
        </div>
    }
}
