/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Eliminar margenes horizontales*/

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}



header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-image: url(/images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

#navbar-container li:hover {
    border-bottom: 1px solid #2F6391;
}

#contenedor-login {
    width: 24rem;
    border-radius: .55rem;
    margin-top: 10.5rem;
    border: 4px thin #b5b5b5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#contenedor-registrarse {
    width: 24rem;
    border-radius: .55rem;
    margin-top: 10.5rem;
    border: 4px thin #b5b5b5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.jumbotron {
    background-image: url(/images/bg-4.jpg);
    background-size: cover;
    background-position: center;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

@media (max-width: 600px) and (orientation: portrait) {

    #contenedor-login {
        margin-top: 35px;
        width: 285px;
    }

    #contenedor-registrarse {
        margin-top: 35px;
        width: 285px;
    }
}

@media (max-width: 290px) and (orientation: portrait) {

    #contenedor-login {
        margin-top: 4px;
        width: 200px;
    }

    #contenedor-registrarse {
        margin-top: 4px;
        width: 200px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }

        header.masthead .masthead-content .masthead-heading {
            font-size: 6rem;
        }

        header.masthead .masthead-content .masthead-subheading {
            font-size: 4rem;
        }
}

#dropdown-menu-perfil a:hover {
    font-style: oblique;
}

#dropdown-menu-perfil span:hover {
    text-decoration: underline;
}

#dropdown-menu-seguridad a:hover {
    font-style: oblique;
}

#dropdown-menu-seguridad span:hover {
    text-decoration: underline;
}

#boton-salir :hover {
    background-color: #ff0000;
    color: #ffffff;
    font-style: oblique;
}

#ajustes-cuenta a:hover {
    font-style: oblique;
}

#ajustes-cuenta span:hover {
    text-decoration: underline;
}
