/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.form__border--boxShadow {
    border-radius: .55rem;
    border: 4px thin #b5b5b5;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.contenedor-custom-1 {
    border-radius: .55rem;
    border: 4px thin #b5b5b5;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/* CUSTOMIZE THE CAROUSEL -- INDEX IF USER IS NOT LOGGED IN ----
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

/* Customize carousel icons */
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-caret-left' viewBox='0 0 16 16'%3E%3Cpath d='M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23bababa' class='bi bi-caret-right' viewBox='0 0 16 16'%3E%3Cpath d='M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z'/%3E%3C/svg%3E");
}

.carousel .carousel-indicators li {
    background-color: #bababa;
}

    .carousel .carousel-indicators li.active {
        background-color: #ffffff;
    }

/* Customize carousel background */
#carouselIndex {
    background: rgb(41,128,185);
    background: -moz-linear-gradient(90deg, rgba(41,128,185,1) 58%, rgba(109,213,250,1) 78%, rgba(255,255,255,1) 96%);
    background: -webkit-linear-gradient(90deg, rgba(41,128,185,1) 58%, rgba(109,213,250,1) 78%, rgba(255,255,255,1) 96%);
    background: linear-gradient(90deg, rgba(41,128,185,1) 58%, rgba(109,213,250,1) 78%, rgba(255,255,255,1) 96%);
}

    /* Center the class .mask*/
    #carouselIndex .carousel-item .mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
    }
    /* Modifying the p of the carousel*/
    #carouselIndex p {
        font-size: 18px;
        margin-bottom: 15px;
        color: #d5d5d5;
    }

/* Custom buttons */

.btn-custom {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
}

    .btn-custom:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        transform: translateY(-3px);
    }

.btn-outline {
    color: #00aeef;
    background-color: #ffffff;
    border-color: #00aeef;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline {
    color: #00aeef;
    background-color: #ffffff;
    border-color: #00aeef;
    font-weight: bold;
    border-radius: 0;
}

    .btn-outline:hover,
    .btn-outline:active,
    .btn-outline:focus,
    .btn-outline.active {
        background: #1a64b8;
        color: #ffffff;
        border-color: #1a64b8;
    }

.btn-colour-1 {
    color: #fff;
    background-color: #004E64;
    border-color: #004E64;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
}

    .btn-colour-1:hover,
    .btn-colour-1:active,
    .btn-colour-1:focus,
    .btn-colour-1.active {
        /* let's darken #004E64 a bit for hover effect */
        background: #003D4F;
        color: #ffffff;
        border-color: #003D4F;
    }


/* Custom containers */

.custom-bx-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.3s ease 0s;
}

.custom-shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.hover-box-shadow:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Background img divider appdivider.com */

.custom-shape-divider-bottom-1635230231 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

    .custom-shape-divider-bottom-1635230231 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 87px;
    }

    .custom-shape-divider-bottom-1635230231 .shape-fill {
        fill: #FFFFFF;
    }

/* Adding hover to images */

figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(0.9);
}

/* ------------- INDEX IF USER IS LOGGED IN ------------------------- */

/* Hides the content in the #wrapper*/
#wrapper {
    overflow-x: hidden;
}

/* Customizing the #sidebar-wrapper*/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

/** Customizing the content-wrapper*/
#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

/* Customizing the .fa-arrow-left icon */
.fa-arrow-left {
    transform: rotate(0);
    transition: transform .3s ease-in;
}

    .fa-arrow-left.open {
        transform: rotate(180deg);
        transition: transform .3s ease-out;
    }


/* Customizing the cards */
.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 5px;
    transition: .3s linear all;
}

    .card-counter:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }

    .card-counter.primary {
        background-color: #007bff;
        color: #FFF;
    }

    .card-counter.danger {
        background-color: #ef5350;
        color: #FFF;
    }

    .card-counter.success {
        background-color: #66bb6a;
        color: #FFF;
    }

    .card-counter.info {
        background-color: #26c6da;
        color: #FFF;
    }

    .card-counter i {
        font-size: 5em;
        opacity: 0.2;
    }

    .card-counter .count-numbers {
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
    }

    .card-counter .count-name {
        position: absolute;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        display: block;
        font-size: 18px;
    }

/* Customize datatable */

.sorting thead th, thead th.sorting {
    background-color: #007bff;
    color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active span {
    background-color: inherit;
    color: #3080ff;
}

/* ---------------------------------------- MEDIA QUERIES ------------------------------------------------ */

/* Adding more margin in the login section between form and nav*/
@media only screen and (min-width: 1300px) {
    .form__border--boxShadow {
        margin-top: 6.5em;
    }
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font-example {
        font-size: 50px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font-example {
        font-size: 38px;
    }
}

/* Responsive sidebar-nav in small screens (hidden)*/
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Reducin the font-size in small screens*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Hidding the back-to-top arrow in small screens*/
@media (max-width: 615px) {
    .back-to-top {
        visibility: collapse;
        display: none;
    }
}

/* Removing border-hovers in small screens*/
@media (max-width: 555px) {
    .custom-shadow {
        box-shadow: none;
        transition: unset;
        margin-bottom: 8px;
    }

    .hover-box-shadow:hover {
        box-shadow: none;
    }
}

/* Responsive text in small screens*/
@media (max-width: 550px) {
    .hidden {
        visibility: hidden;
        display: none;
    }
}

/*  If the screen size is smaller than 475px, set the font-size to 29px*/
@media (max-width: 475px) {
    .responsive-font-example {
        font-size: 29px;
    }
}

/*  If the screen size is smaller than 475px, set the font-size of to 19px*/
@media (max-width: 420px) {
    .responsive-font-example {
        font-size: 19px;
    }
}
/*  If the screen size is smaller than 320px, set the font-size to 12.5px*/
@media (max-width: 320px) {
    .responsive-font-example-p {
        font-size: 12.5px;
    }
}
/* Back to top animation */
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}